<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Latch" Manufacturer="Latch" Version="0.4.2" UpgradeCode="6B9638AD-38B8-4EA2-88EF-76D9961EBC4C" Scope="perUser">
    <SummaryInformation Description="Latch private beta for Windows" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Latch is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <CustomAction Id="StopLatch" FileRef="LatchExe" ExeCommand="stop" Execute="immediate" Return="ignore" />
    <InstallExecuteSequence>
      <Custom Action="StopLatch" Before="RemoveFiles" Condition="REMOVE = &quot;ALL&quot;" />
    </InstallExecuteSequence>

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="ProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="Latch">
          <Component Id="ApplicationFiles" Guid="*">
            <File Id="LatchExe" Source="$(SourceDir)\latch-link.exe" Name="latch.exe" KeyPath="yes" />
            <Environment Id="LatchPath" Name="PATH" Value="[INSTALLFOLDER]" Action="set" Part="last" System="no" />
          </Component>
          <Component Id="StartupScript" Guid="*">
            <File Id="LatchStartupScript" Source="$(InstallerDir)\latch-start.vbs" Name="latch-start.vbs" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="StartupFolder">
      <Component Id="StartupEntry" Guid="*">
        <Shortcut Id="LatchStartup" Name="Latch" Target="[SystemFolder]wscript.exe" Arguments="&quot;[INSTALLFOLDER]latch-start.vbs&quot;" WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\Latch" Name="Startup" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Latch" Level="1">
      <ComponentRef Id="ApplicationFiles" />
      <ComponentRef Id="StartupScript" />
      <ComponentRef Id="StartupEntry" />
    </Feature>
  </Package>
</Wix>
